* {
    box-sizing: border-box;
}

p {
    font-family: sans;
    font-size: 14px;
  }

body {
    margin 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    float: right;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
}

.cont {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
  }

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}
